<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="es">

<head th:replace="~{general/fragmentos :: head}"/>

<body>

<header th:replace="~{general/fragmentos :: header}"/>

<div th:replace="~{catalogo/fragmentos :: listadoCatalogo}"/>

<section th:replace="~{general/fragmentos :: explorar}"/>
<section th:replace="~{general/fragmentos :: mostrarToast}"/>
<footer th:replace="~{general/fragmentos :: footer}"/>

</body>
</html>
